.outer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-bottom: 36px;
}

.alerts-container {
    min-height: 400px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-bottom: 36px;
}

.badges-container {
    min-height: 300px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-bottom: 36px;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-bottom: 36px;
}


.modals-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.marg-top-bot {
    margin-top: 1em;
    margin-bottom: 1em;

}
.marg {
    margin: 8px;
}

.marg-big {
    margin-bottom: 24px;
}

.marg-xl {
    margin-bottom: 10em;
}

.marg-left {
    margin-left: 20px;
}


